/*
NOTES:
The global Profile Builder class is: wppb_holder
The id for the individual sections are: wppb_modify for [wppb-profile-info] 
										wppb_login for [wppb-registered-login]
										wppb_register for [wppb-register-new]

*/
/*    WPPB_MODIFY     */
#wppb_modify p label{
	display:block;
}
#wppb_modify input[type=text], #wppb_modify input[type=password], #wppb_modify select, #wppb_modify textarea{
	width:50%;
	margin-bottom:5px;
}
#wppb_modify textarea{
	width:70%;
}
.changes-saved, .success{
	color:green;
}
.warning, .error{
	color:red;
}

/*   WPPB_REGISTER   */

#wppb_register p label{
	display:block;
}
#wppb_register input[type=text], #wppb_register input[type=password], #wppb_register select, #wppb_register textarea{
	width:50%;
	margin-bottom:5px;
}
#wppb_register textarea{
	width:70%;
}